// out: mmc.css, sourcemap: true, compress: true
#global-news-post-slider{
    .post-title,.post-excerpt{
        overflow: hidden;
    }
}

#wrapper{
    .post-content{
        img{
            padding: 15px;

            &:nth-of-type(even){
                float: right!important;
                padding-right: 0!important;
            }
            &:nth-of-type(odd){
                float: left!important;
                padding-left: 0!important;
            }
        }
    }
}

#container-glossary {
    .cont_sel {
        display: inline-block;
        font-size: 40px;
        padding: 20px;
        background: #197B30;
        border-radius: 8px;
        margin-right: 20px;
        color: #fff;
        width: 100px;
        font-weight: 900;
        text-align: center;
    }
    .ln-disabled {
        color: #ccc !important;
    }
    .ln-letters {
        display: inline-block;
    }
    .ln-letters a {
        padding: 10px;
        color: #197A30;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }
    .ln-letter-count {
        width: 24px;
        background: #197B30;
        color: #fff;
        padding: 4px;
        line-height: normal;
        border-radius: 4px;
        height: 24px;
        line-height: 15px;
        margin-top: -17px;
    }
    .ln-letter-count:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(25, 123, 48, 0);
        border-top-color: #197B30;
        border-width: 4px;
        margin-left: -4px;
    }
    .cont_paragraph {
        margin-bottom: 0 !important;
    }
    #glossaryList {
        list-style: none;
        margin-left: 10px !important;
    }
    #glossaryList li {
        margin-bottom: 10px;
    }
    .glossaryLink {
        font-size: 18px;
        border-bottom: none;
        margin-bottom: 5px;
    }
    .ln-letters a {
        margin-bottom: 10px;
    }
    @media screen and (max-width: 991px) {
        .cont_sel {
            margin-bottom: 10px;
            display: none;
        }
    }
}

.featured-grid{
    .item-box{
        .item-description{
            h3{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }

    &.video-grid{
        .heading-title{
            a{
                h4,span{
                    color: #27AE60!important;
                }
                &:hover{
                    h4,span{
                        color: #caa400!important;
                    }
                }
            }
        }
    }
}

.upcoming-ipos{
    .box-flip{
        .box-icon-title{
            img{
                background: #fff;
            }
        }
        .box2{
            height: 250px;
            overflow: auto;
            h3{
                font-size: 20px;
                line-height: 20px;
            }
            p{
                margin: 0;
            }
        }
    }
}
.investment-assets{
        .box-flip{
            height: 396px !important;
            min-height: 0 !important;
            .box2{
                height: 396px !important;
                p{
                    height: 208px;
                    overflow: hidden;
                    a{
                        color:#fff !important;
                    }
                }
                .link-read-more{
                    float: right;
                    color: #fff;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
            .box1{
                div.section-content{
                    padding: 10px;
                    background-color: #2b2b2b;
                    display: block;
                    text-align: left;
                    color: #fff;
                        height: 145px;
                }
                height: 396px !important;
            }
        }
}
.p-limit-content{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 79px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.p-limit-title{
     overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    height: 36px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}
.link-viewmore-news,.link-viewmore-article{
     a{
        h4,span{
            color: #27AE60!important;
        }
        &:hover{
            h4,span{
                color: #caa400!important;
            }
        }
    }
}

div.side-nav ul>li.open>ul {
	display:block;
	padding: 5px 0;
}
